* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #000000;
}

.y-fullskrinheader {
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
}

.y-headertitle {
    font-family: 'Space Mono';
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.y-headernav {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.y-navlink {
    font-family: 'Space Mono';
    font-size: 22px;
    color: #ffffff86;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.y-navlink:hover {
    color: #fff;
}

.y-header__button {
    padding: 15px 25px;
    font-family: 'Space Mono';
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    background-color: #000000;
    font-size: 20px;
    transition: 0.5s;
}

.y-header__button:hover {
    color: #000;
    background-color: #fff;
}

.y-header__block {
    display: none;
}

.fullskreen {
    background-color: #000;
}

.fullskreen-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80vh;
}

.fullskreen-img {
    width: 500px;
    position: absolute;
}

.fullskreen-title {
    color: #fff;
    z-index: 2;
    width: 700px;
    text-align: center;
    font-family: 'Space Mono';
    line-height: 70px;
}

.fullskreen-span {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 5px;
}

.block {
    background: linear-gradient(#cb7327, #bf68d7);
    animation: border 5s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 20%;
    top: 30%;
}

.q-block {
    background: linear-gradient(#2fcb27, rgb(104, 150, 215));
    animation: border 4s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10%;
    top: 60%;
}

.w-block {
    background: linear-gradient(#cbcb27, rgb(104, 215, 150));
    animation: border 5.5s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10%;
    top: 12%;
}

.e-block {
    background: linear-gradient(#5b27cb, rgb(210, 139, 207));
    animation: border 7s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 24%;
    top: 27%;
}

.r-block {
    background: linear-gradient(#cb27c0, rgb(210, 139, 144));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 13%;
    top: 64%;
}

.t-block {
    background: linear-gradient(#60cbe0, rgb(220, 92, 63));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 7%;
    top: 14%;
}

@keyframes border {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.section-center {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
    position: fixed;
    top: 63px;
    right: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid #ececee;
    border-bottom: 2px solid #ececee;
    transition: border-width 100ms 1500ms ease,
        top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
        height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
        background-color 200ms ease,
        transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #ececee;
    margin-top: -1px;
    transition: width 100ms 1750ms ease,
        right 100ms 1750ms ease,
        margin-top 100ms ease,
        transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #ececee;
    border-width: 0;
    transition: border-width 100ms 340ms ease,
        top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        background-color 200ms 500ms ease,
        transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease,
        right 100ms ease,
        margin-top 100ms 500ms ease,
        transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
    position: fixed;
    top: 33px;
    right: 50px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: #000000;
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
        right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 250ms 1100ms ease,
        width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
        height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.menu-icon:checked~.nav {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
        right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 250ms 700ms ease,
        width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
        height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
}

.nav ul li {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
    transition-delay: 300ms;
}

.nav ul li:nth-child(2) {
    transition-delay: 250ms;
}

.nav ul li:nth-child(3) {
    transition-delay: 200ms;
}

.nav ul li:nth-child(4) {
    transition-delay: 150ms;
}

.nav ul li:nth-child(5) {
    transition-delay: 100ms;
}

.nav ul li:nth-child(6) {
    transition-delay: 50ms;
}

.nav ul li a {
    font-family: 'Work Sans';
    font-size: 9vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 800;
    display: inline-block;
    position: relative;
    color: #ececee;
    transition: all 250ms linear;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: none;
    color: #a2a2a2;
}

.nav ul li a:after {
    display: block;
    position: absolute;
    top: 50%;
    content: '';
    height: 2vh;
    margin-top: -1vh;
    width: 0;
    left: 0;
    background-color: #353746;
    opacity: 0.8;
    transition: width 250ms linear;
}

.nav ul li a:hover:after {
    width: 100%;
}


.menu-icon:checked~.nav ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease,
        transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
    transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
    transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
    transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
    transition-delay: 1640ms;
}

.menu-icon:checked~.nav ul li:nth-child(5) {
    transition-delay: 1720ms;
}

.menu-icon:checked~.nav ul li:nth-child(6) {
    transition-delay: 1800ms;
}

@media screen and (max-width: 991px) {

    .menu-icon:checked+label,
    .menu-icon:not(:checked)+label {
        right: 55px;
    }

    .logo {
        left: 30px;
    }

    .nav {
        right: 30px;
    }

    .nav ul li a {
        font-size: 8vh;
    }
}

/* ----- MAIN ----- */

.main {
    max-width: 1300px;
}

.main__trust {
    background-color: #fff;
    margin-bottom: 150px;
    position: relative;
}

.trust-info {
    max-width: 1300px;
    margin: 0px auto;
}

.main__trust-title {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 35px;
    padding-top: 50px;
}

.main__trust-info {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px
}

.main__trust-item {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.main__trust-item:nth-child(1) {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px #6a6a6a71;
}

.main__trust-item:nth-child(1) .trust-item__number {
    background-color: #74c1fc6e;
}

.main__trust-item:nth-child(2) {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px #6a6a6a71;
}

.main__trust-item:nth-child(2) .trust-item__number {
    background-color: #63e6bf6a;
}

.main__trust-item:nth-child(3) {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px #6a6a6a71;
    position: relative;
}

.main__trust-item:nth-child(3) .trust-item__number {
    background-color: #fd3f3f83;
}

.main__trust-item:nth-child(4) {
    margin: 70px auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px #6a6a6a71;
}

.main__trust-item:nth-child(4) .trust-item__number {
    background-color: #ffd53b62;
}

.trust-item__number {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Space Mono';
}

.trust-item__info {
    font-family: 'Space Mono';
    font-size: 18px;
    margin-top: 10px;
}

.trust-item__text {}

.shadow-green {
    position: absolute;
    top: 20%;
    right: 5%;
}

.shadow-blue {
    position: absolute;
    top: -10%;
    left: 10%;
}

.benefit {
    padding: 0 10px;
    margin-bottom: 200px;
}

.benefit__title {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 38px;
    color: #fff;
}

.benefit__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.benefit__block-up {
    display: flex;
    justify-content: space-between;
}

.benefit__up-item:nth-child(1) {
    margin-right: 20px;
}

.benefit__item-advanatage {
    max-width: 250px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.benefit__item-advanatage:nth-child(2) {
    margin-top: 20px;
}

.benefit__advantage-text {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 18px;
}

.benefit__midd-item {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-right: 20px;
}

.benefit__up-image {
    max-width: 500px;
    border-radius: 10px;
}

.benefit__block-down {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 12px 283px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit__down-text {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 18px;
}

.testimonial {
    background-color: #fff;
    margin-bottom: 200px;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.testimonial__carousel-img:nth-child(1) {
    position: absolute;
    top: 5%;
    transform: scale(1.5);
}

.testimonial__carousel-img:nth-child(3) {
    position: absolute;
    top: 20%;
    left: 15%;
    transform: scale(1.7);
}

.testimonial__carousel-img:nth-child(2) {
    position: absolute;
    right: 10%;
    transform: scale(1.6);
}

.testimonial__carousel-img:nth-child(4) {
    position: absolute;
    right: 5%;
    top: 30%;
    transform: scale(1.7);
}

.testimonial__carousel-img:nth-child(5) {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: scale(1.7);
}

.testimonial__carousel-img:nth-child(6) {
    position: absolute;
    top: -5%;
    left: 30%;
    transform: scale(2);
}

.testimonial__carousel-img:nth-child(7) {
    position: absolute;
    bottom: -20%;
    right: 25%;
}

.testimonial__carousel-img:nth-child(8) {
    position: absolute;
    top: -10%;
    right: 20%;
}

.testimonial__carousel-img:nth-child(9) {
    position: absolute;
    top: 30%;
    right: -10%;
    transform: scale(2);
}

.testimonial__carousel-img:nth-child(10) {
    position: absolute;
    top: -20%;
    right: -10%;
    transform: scale(1.7);
}

.testimonial__carousel-img:nth-child(11) {
    position: absolute;
    top: -24%;
    left: -4%;
    transform: scale(1.8);
}

.testimonial__carousel-img:nth-child(12) {
    position: absolute;
    bottom: -30%;
    left: 20%;
    transform: scale(1.6);
}

.testimonial__carousel-img:nth-child(13) {
    position: absolute;
    bottom: -24%;
    left: -2%;
    transform: scale(2);
}

.testimonial__carousel-img:nth-child(14) {
    position: absolute;
    top: -25%;
    left: 40%;
    transform: scale(2);
}

.testimonial__carousel-img:nth-child(15) {
    position: absolute;
    top: -26%;
    left: 10%;
    transform: scale(1.6);
}

.testimonial__carousel-img:nth-child(16) {
    position: absolute;
    top: -30%;
    right: 10%;
    transform: scale(1.7);
}

.testimonial__carousel-img:nth-child(17) {
    position: absolute;
    bottom: -25%;
    right: 10%;
    transform: scale(1.7);
}

.testimonial__carousel-img:nth-child(18) {
    position: absolute;
    bottom: -30%;
    left: 40%;
    transform: scale(1.8);
}

.q-block {
    background: linear-gradient(#adcb27, rgb(215, 104, 117));
    animation: border 4s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10%;
    top: 60%;
}

.w-block {
    background: linear-gradient(#d6d66f, rgb(215, 167, 104));
    animation: border 5.5s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10%;
    top: 12%;
}

.r-block {
    background: linear-gradient(#aa4cbb, rgb(40, 230, 198));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 13%;
    top: 64%;
}

.t-block {
    background: linear-gradient(#b20fe9, rgb(220, 92, 63));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 7%;
    top: 14%;
}

@keyframes border {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.z-block {
    background: linear-gradient(#cb8080, rgb(112, 120, 181));
    animation: border 4s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10%;
    top: 60%;
}

.u-block {
    background: linear-gradient(#bb4c9b, rgb(43, 91, 180));
    animation: border 5.5s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10%;
    top: 12%;
}

.i-block {
    background: linear-gradient(#a5cca1, rgb(43, 91, 180));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 13%;
    top: 64%;
}

.o-block {
    background: linear-gradient(#681659, rgb(214, 93, 212));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 7%;
    top: 14%;
}

.p-block {
    background: linear-gradient(#c09f7d, rgb(233, 211, 189));
    animation: border 4s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10%;
    top: 60%;
}

.a-block {
    background: linear-gradient(#e4e094, rgb(165, 112, 38));
    animation: border 5.5s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10%;
    top: 12%;
}

.s-block {
    background: linear-gradient(#ccd766, rgb(218, 124, 30));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 13%;
    top: 64%;
}

.d-block {
    background: linear-gradient(#d9700f, rgb(234, 147, 130));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 7%;
    top: 10%;
}

.f-block {
    background: linear-gradient(#68bde5, rgb(218, 201, 19));
    animation: border 4s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10%;
    top: 60%;
}

.g-block {
    background: linear-gradient(#d77c27, rgb(147, 42, 238));
    animation: border 5.5s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10%;
    top: 12%;
}

.h-block {
    background: linear-gradient(hsl(53, 74%, 53%), rgb(26, 237, 114));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 13%;
    top: 64%;
}

.j-block {
    background: linear-gradient(#d90f20, rgb(234, 147, 130));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 7%;
    top: 14%;
}

.x-block {
    background: linear-gradient(#68bde5, rgb(69, 69, 68));
    animation: border 4s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10%;
    top: 60%;
}

.k-block {
    background: linear-gradient(#df8f44, rgb(89, 133, 209));
    animation: border 5.5s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10%;
    top: 12%;
}

.l-block {
    background: linear-gradient(hsl(53, 74%, 53%), rgb(26, 237, 114));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 13%;
    top: 64%;
}

.y-block {
    background: linear-gradient(#d90f20, rgb(234, 147, 130));
    animation: border 6s linear infinite;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 7%;
    top: 14%;
}

.carousel {
    padding-top: 120px;
}

.carousel-item__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.testimonial__image {
    margin-bottom: 50px;
}

.testimonial__text {
    font-family: 'Space Mono';
    font-size: 20px;
    color: #000;
    text-align: center;
}

.testimonial__img {
    margin-top: 20px;
    width: 90px;
    height: 90px;
    filter: drop-shadow(0px 0px 10px #00000079);
}

.carousel-item:nth-child(2) .carousel-item__block .testimonial__account .testimonial__img {
    border-radius: 15px;
}

.carousel-item:nth-child(3) .carousel-item__block .testimonial__account .testimonial__img {
    border-radius: 15px;
}

.carousel-item:nth-child(4) .carousel-item__block .testimonial__account .testimonial__img {
    border-radius: 15px;
}

.carousel-item:nth-child(5) .carousel-item__block .testimonial__account .testimonial__img {
    border-radius: 15px;
}

.testimonial__account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial__account-text {
    font-family: 'Space Mono';
    font-size: 18px;
    margin-top: 20px;
}

.carousel-indicators {
    transform: translateY(50px);
    width: 17%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: 0.5s;
    border-radius: 50%;
    border: 1px solid #626262;
}

.carousel-indicators .active {
    background-color: rgb(111, 0, 255);
    border: none;
    transform: scale(1.5);
}

.subscribe {
    background: linear-gradient(to right, rgb(132, 228, 113), rgb(73, 168, 227));
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 300px;
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 70px;
}

.subscribe__title {
    text-align: center;
    font-family: 'Space Mono';
    font-size: 33px;
    margin-top: 50px;
}

.subcribe__block {
    max-width: 650px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.subscribe__block-item {
    width: 420px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.subscribe__input {
    margin-left: 20px;
    font-family: 'Space Mono';
    width: 100%;
}

.check {
    display: none;
}

.check.new {
    color: #2bef1d;
    transition: 0.5s;
    display: block;
}

.subscribe__button {
    padding: 20px 40px;
    border-radius: 10px;
    font-family: 'Space Mono';
    font-size: 20px;
    background: linear-gradient(to left, #e44242, #db9753);
    transition: 0.5s;
}

.subscribe__button:hover {
    color: #fff;
}

.subscribe__button:active {
    background: linear-gradient(to left, #c83d3d, #d19151);
    color: #000000;
}

.sub {
    padding: 0 30px;
}

/*--------------------- FOOTER -----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* .footer_box{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #333;
} */
.footer_YI {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Space Mono';
    background: #333333;
    margin-top: 200px;
}

footer .social_icon_YI,
footer .menu_YI {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_YI {
    padding: 0px;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

/* footer .social_icon_YI li, */
footer .menu_YI li {
    list-style: none;
}

footer .social_icon_YI li {
    font-size: 2em;
    color: #fff;
    margin: 0 15px;
    display: inline-block;
    scale: 1.75;
}

footer .social_icon_YI li :hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

footer .menu_YI a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.7;
}

footer .menu_YI a:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    /* background: url(./image_YI/wave.png); */
    background: url(./image_YI/wavestar.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 5s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

/* FOOTER */

@media (max-width: 1315px) {
    .fullskreen {
        padding: 0 10px;
    }

    .block {
        background: linear-gradient(#cb7327, #bf68d7);
        animation: border 5s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 15%;
        top: 30%;
    }

    .q-block {
        background: linear-gradient(#2fcb27, rgb(104, 150, 215));
        animation: border 4s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 7%;
        top: 60%;
    }

    .w-block {
        background: linear-gradient(#cbcb27, rgb(104, 215, 150));
        animation: border 5.5s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 5%;
        top: 12%;
    }

    .e-block {
        background: linear-gradient(#5b27cb, rgb(210, 139, 207));
        animation: border 7s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 17%;
        top: 27%;
    }

    .r-block {
        background: linear-gradient(#cb27c0, rgb(210, 139, 144));
        animation: border 6s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 8%;
        top: 64%;
    }

    .t-block {
        background: linear-gradient(#60cbe0, rgb(220, 92, 63));
        animation: border 6s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 7%;
        top: 14%;
    }

    .main__trust {
        padding: 50px 10px;
    }
}

@media (max-width: 1100px) {
    .benefit {
        padding: 0px 10px;
    }
}

@media (max-width: 992px) {

    .y-fullskrinheader {
        flex-direction: column;
    }

    .y-headernav {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .y-header__title {
        margin-top: 10px;
    }

    .fullskreen-block {
        height: 60vh;
        margin-bottom: 150px;
    }

    .fullskreen-title {
        font-size: 32px;
    }

    .block {
        background: linear-gradient(#cb7327, #bf68d7);
        animation: border 5s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 15%;
        top: 43%;
    }

    .q-block {
        background: linear-gradient(#2fcb27, rgb(104, 150, 215));
        animation: border 4s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 7%;
        top: 87%;
    }

    .w-block {
        background: linear-gradient(#cbcb27, rgb(104, 215, 150));
        animation: border 5.5s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 5%;
        top: 7%;
    }

    .u-block {
        left: 5%;
        top: 7%;
    }

    .a-block {
        left: 5%;
        top: 7%;
    }

    .g-block {
        left: 5%;
        top: 7%;
    }

    .k-block {
        left: 5%;
        top: 7%;
    }

    .e-block {
        background: linear-gradient(#5b27cb, rgb(210, 139, 207));
        animation: border 7s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 17%;
        top: 39%;
    }

    .r-block {
        background: linear-gradient(#cb27c0, rgb(210, 139, 144));
        animation: border 6s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 7%;
        top: 70%;
    }

    .i-block {
        left: 7%;
        top: 70%;
    }

    .t-block {
        background: linear-gradient(#60cbe0, rgb(220, 92, 63));
        animation: border 6s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 7%;
        top: 2%;
    }

    .o-block {
        right: 7%;
        top: 2%;
    }

    .d-block {
        right: 7%;
        top: 2%;
    }

    .j-block {
        right: 7%;
        top: 2%;
    }

    .y-block {
        right: 7%;
        top: 2%;
    }

    .benefit__midd-item {
        width: 400px;
        height: 300px;
    }

    .benefit__up-image {
        width: 350px;
    }

    .benefit__block-up {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 934px) {
    .main__trust-item:nth-child(4) {
        margin: 0;
        transform: translateY(30px);
    }

    .main__trust-info {
        align-items: none;
    }

    .shadow-green {
        position: absolute;
        top: 20%;
        right: 0%;
    }

    .shadow-blue {
        position: absolute;
        top: -10%;
        left: -10%;
    }
}

@media (max-width: 800px) {
    .benefit__midd-item {
        display: none;
    }

    .benefit__block-down {
        max-width: 520px;
        padding: 10px;
    }

    .carousel {
        padding-top: 70px;
    }

    .carousel-item__block {
        width: 70%;
    }

    .carousel-indicators {
        width: 25%;
    }
}

@media (max-width: 725px) {
    .subcribe__block {
        justify-content: center;
        margin: 50px auto;
    }

    .subscribe__button {
        margin-top: 30px;
    }

    .subscribe__title {
        font-size: 30px;
    }
}

@media (max-width: 634px) {
    .main__trust-info {
        justify-content: center;
    }

    .shadow-green {
        display: none;
    }

    .shadow-blue {
        display: none;
    }

    .main__trust-title {
        font-size: 32px;
    }

    .main__trust-item {
        margin-top: 40px;
    }

    .main__trust-item:nth-child(4) {
        transform: translateY(0);
        margin-top: 40px;
    }
}

@media (max-width: 580px) {
    .fullskreen-title {
        font-size: 28px;
    }

    .fullskreen-img {
        width: 400px;
    }

    .benefit__title {
        font-size: 32px;
    }

    .benefit {
        padding: 0 20px;
    }
}

@media (max-width: 520px) {
    .y-headernav {
        display: none;
    }

    .y-headerbutton {
        display: none;
    }

    .y-fullskrinheader {
        align-items: flex-start;
    }

    .y-headertitle {
        margin-top: 30px;
    }

    .y-header__block {
        display: block;
    }

    .nav ul li a {
        font-size: 5vh;
        line-height: 100px;
    }

    .y-header__button {
        display: none;
    }

    .q-block {
        background: linear-gradient(#2fcb27, rgb(104, 150, 215));
        animation: border 4s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 7%;
        top: 83%;
    }

    .w-block {
        background: linear-gradient(#cbcb27, rgb(104, 215, 150));
        animation: border 5.5s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 5%;
        top: 5%;
    }

    .e-block {
        background: linear-gradient(#5b27cb, rgb(210, 139, 207));
        animation: border 7s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 17%;
        top: 47%;
    }

    .r-block {
        background: linear-gradient(#cb27c0, rgb(210, 139, 144));
        animation: border 6s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        left: 8%;
        top: 89%;
    }

    .t-block {
        background: linear-gradient(#60cbe0, rgb(220, 92, 63));
        animation: border 6s linear infinite;
        width: 45px;
        height: 45px;
        position: absolute;
        right: 7%;
        top: 7%;
    }

    .f-block {
        top: 65%;
    }

    .h-block {
        top: 70%;
        left: 5%;
    }

    .x-block {
        top: 67%;
    }
}

@media (max-width: 420px) {
    .fullskreen-block {
        margin-top: 0px;
    }

    .fullskreen-img {
        width: 300px;
    }

    .fullskreen-title {
        font-size: 24px;
    }

    .fullskreen-block {
        height: 50vh;
    }

    .benefit__title {
        font-size: 30px;
    }

    .benefit__advantage-text {
        font-size: 16px;
    }

    .carousel-indicators {
        transform: translateY(30px);
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 7px;
        height: 7px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: 0.5s;
        border-radius: 50%;
        border: 1px solid #626262;
    }

    .testimonial__text {
        font-size: 18px;
    }

    .testimonial__image {
        margin-bottom: 20px;
    }

    .r-block {
        top: 65%;
        left: 10%;
    }

    .t-block {
        top: 5%;
    }

    .u-block {
        top: 5%;
    }

    .a-block {
        top: 2%;
    }

    .p-block {
        top: 65%;
    }

    .g-block {
        top: 2%;
        left: 5%;
    }

    .f-block {
        top: 73%;
    }

    .k-block {
        top: 2%;
        left: 3%;
    }

    .subscribe__title {
        font-size: 26px;
    }

    .subscribe {
        padding: 15px;
    }

    .footer_YI {
        padding: 10px;
    }

    .menu_YI {
        width: 270px;
        display: flex;
        flex-direction: column;
    }

    .menu_YI a {
        margin-bottom: 15px;
    }
}

@media (max-width: 350px) {
    .p-block {
        top: 70%;
    }

    .s-block {
        top: 67%;
    }

    .y-header__title {
        font-size: 20px;
    }

    .nav ul li a {
        font-size: 4vh;
        line-height: 80px;
    }

    .fullskreen-img {
        width: 250px;
    }

    .trust-info {
        padding: 10px;
    }

    .main__trust-title {
        font-size: 28px;
        padding-top: 20px;
    }

    .main__trust {
        padding: 10px;
    }

    .main__trust-info {
        margin-top: 20px;
    }

    .benefit__block-up {
        flex-direction: column;
    }

    .benefit__up-item:nth-child(1) {
        margin: 0px;
        margin-bottom: 30px;
    }

    .benefit__block-down {
        margin-top: 30px;
        max-width: 250px;
        height: 200px;
    }

    .benefit__item-advanatage:nth-child(2) {
        margin-top: 30px;
    }

    .benefit__advantage-text {
        font-size: 18px;
    }

    .carousel-indicators {
        width: 40%;
    }

    .l-block {
        top: 72%;
        left: 5%;
    }

    .x-block {
        top: 80%;
    }

    .testimonial {
        height: 80vh;
    }

    .testimonial__account-text {
        text-align: center;
    }

    .subscribe__title {
        font-size: 24px;
    }

    .subscribe__button {
        padding: 17px 25px;
    }
}